services:
  index-gui:
    image: torrust/index-gui:develop
    container_name: index-gui
    networks:
        - server_side
    tty: true
    environment:
      - USER_ID=1000
      - NUXT_PUBLIC_API_BASE=https://974bd8cf5824ef6cd318a2994270720ac7aa14bc-3001.dstack-prod5.phala.network/v1
      - NITRO_HOST=0.0.0.0
      - NITRO_PORT=3000
    ports:
      - 3000:3000
      - 24678:24678
    volumes:
      - gui_logs:/var/log/torrust/index-gui:Z
    depends_on:
      - index
      - tracker
      - mailcatcher


  index:
    image: torrust/index:develop
    container_name: index
    networks:
      - server_side
    tty: true
    environment:
      - TORRUST_INDEX_API_CORS_PERMISSIVE=true
      - USER_ID=1000
      #- TORRUST_INDEX_CONFIG_TOML=${TORRUST_INDEX_CONFIG_TOML}
    ports:
      - 3001:3001
      - 3002:3002
    volumes:
      - index_db:/var/lib/torrust/index
      - index_logs:/var/log/torrust/index
      - index_config:/etc/torrust/index
    depends_on:
      - tracker
      - mailcatcher

  tracker:
    #image: torrust/tracker:develop
    image: h4x3rotab/torrust-tracker:develop
    container_name: tracker
    tty: true
    environment:
      - USER_ID=1000
      #- TORRUST_TRACKER_CONFIG_TOML=${TORRUST_TRACKER_CONFIG_TOML}
    networks:
      - server_side
    ports:
      - 7070:7070
      - 7071:7071
      - 6969:6969/udp
      - 1212:1212/tcp
    volumes:
      - tracker_db:/var/lib/torrust/tracker
      - tracker_logs:/var/log/torrust/tracker
      - tracker_config:/etc/torrust/tracker


  mailcatcher:
    image: dockage/mailcatcher:0.8.2
    networks:
      - server_side
    ports:
      - 1080:1080
      - 1025:1025
    volumes:
     - tracker_db:/var/lib/torrust/tracker
     - tracker_logs:/var/log/torrust/tracker
     - tracker_config:/etc/torrust/tracker


  grafana:
    image: grafana/grafana:11.4.0
    container_name: grafana
    restart: unless-stopped
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      - server_side
    ports:
      - "3100:3000"
    volumes:
      - grafana:/var/lib/grafana
    depends_on:
      - prometheus

  prometheus:
    image: prom/prometheus:v3.0.1
    container_name: prometheus
    tty: true
    restart: unless-stopped
    networks:
      - server_side
    ports:
      - "9090:9090" # This port should not be exposed to the internet
    volumes:
      - prometheus:/etc/prometheus
    logging:
      options:
        max-size: "10m"
        max-file: "10"
    depends_on:
      - tracker

  proxy:
    image: nginx:mainline-alpine
    container_name: proxy
    restart: unless-stopped
    networks:
      - server_side
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - webroot:/var/www/html
      - nginx:/etc/nginx/conf.d
      - letsencrypt:/etc/letsencrypt
      - certbot:/var/lib/letsencrypt
      - certs:/etc/ssl/certs
    logging:
      options:
        max-size: "10m"
        max-file: "10"
    depends_on:
      - index-gui
      - index
      - tracker
      - grafana
      
  sqlite:
    container_name: sqlite
    command: ["sleep", "10000000"]
    image: keinos/sqlite3:latest
    volumes:
      - tracker_db:/var/lib/torrust/tracker
      - index_db:/var/lib/torrust/index

  mirror:
    container_name: mirror
    networks:
      - server_side
    image: wichtf/webserver:latest
    volumes:
      - webroot:/var/www/html
      - nginx:/etc/nginx/conf.d
      - letsencrypt:/etc/letsencrypt
      - certbot:/var/lib/letsencrypt
      - certs:/etc/ssl/certs

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - webroot:/var/www/html
      - letsencrypt:/etc/letsencrypt
      - certbot:/var/lib/letsencrypt
    logging:
      options:
        max-size: "10m"
        max-file: "10"
    depends_on:
      - proxy

networks:
  server_side:

volumes:
  mysql_data:
  index_config:
  tracker_config:
  index_db:
  tracker_db:
  index_logs:
  tracker_logs:
  gui_logs:
  letsencrypt:
  grafana:
  prometheus:
  certbot:
  webroot:
  certs:
  proxy:
  nginx:
