services:
  index-gui:
    image: torrust/index-gui:develop
    container_name: index-gui
    networks:
        - server_side
    tty: true
    environment:
      - USER_ID=1000
      - NUXT_PUBLIC_API_BASE=https://974bd8cf5824ef6cd318a2994270720ac7aa14bc-3001.dstack-prod5.phala.network/v1
      - NITRO_HOST=0.0.0.0
      - NITRO_PORT=3000
    ports:
      - 3000:3000
      - 24678:24678
    volumes:
      - gui_logs:/var/log/torrust/index-gui:Z
    depends_on:
      - index
      - tracker
      - mailcatcher


  index:
    image: torrust/index:develop
    container_name: index
    networks:
      - server_side
    tty: true
    environment:
      - TORRUST_INDEX_API_CORS_PERMISSIVE=true
      - USER_ID=1000
      #- TORRUST_INDEX_CONFIG_TOML=${TORRUST_INDEX_CONFIG_TOML}
    ports:
      - 3001:3001
      - 3002:3002
    volumes:
      - index_db:/var/lib/torrust/index
      - index_logs:/var/log/torrust/index
      - index_config:/etc/torrust/index
    depends_on:
      - tracker
      - mailcatcher

  tracker:
    image: torrust/tracker:develop
    container_name: tracker
    tty: true
    environment:
      - USER_ID=1000
      #- TORRUST_TRACKER_CONFIG_TOML=${TORRUST_TRACKER_CONFIG_TOML}
    networks:
      - server_side
    ports:
      - 7070:7070/tcp
      - 7070:7070/udp
      - 6969:6969/udp
      - 1212:1212/tcp
    volumes:
      - tracker_db:/var/lib/torrust/tracker
      - tracker_logs:/var/log/torrust/tracker
      - tracker_config:/etc/torrust/tracker


  mailcatcher:
    image: dockage/mailcatcher:0.8.2
    networks:
      - server_side
    ports:
      - 1080:1080
      - 1025:1025
    volumes:
     - tracker_db:/var/lib/torrust/tracker
     - tracker_logs:/var/log/torrust/tracker
     - tracker_config:/etc/torrust/tracker


networks:
  server_side:

volumes:
  mysql_data:
  index_config:
  tracker_config:
  index_db:
  tracker_db:
  index_logs:
  tracker_logs:
  gui_logs:
